body {
  background-color: rgb(225, 233, 221);
}
.fa {
  color: rgb(192, 28, 28);
}
.box-part {
  background-color: whitesmoke;
  padding: 50px 10px;
  margin: 40px 10px;
}
a {
  /*border-bottom: 1px solid black;
  */
}
.row {
}
.box {
  display: block;
}
